extends layout

block content
	.container
		h1= 'Lifetime of a news story'
		<p style='text-align:center;'> Welcome to our project </p>
		.row
			.col-lg-4
				h2= 'Deflatgate'
				p
					This is all the data plots for deflatgate
				<img src="images/bradyAll.png" class="img-responsive img-rounded" alt="all brady">
			.col-lg-4
				h2= 'Deflatgate daytime tweets'
				p
					All the daytime data for deflatgate
				<img src="images/bradyDay.png" class="img-responsive img-rounded" alt="day brady">
			.col-lg-4
				h2= 'Deflatgate nighttime tweets'
				p
					All the daytime data for deflatgate
				<img src="images/bradyNight.png" class="img-responsive img-rounded" alt="night brady">
		.row
			.col-lg-4
				h2= 'News Story One'
				p
					This is all the data plots for deflatgate
				<img src="images/bradyAll.png" class="img-responsive img-rounded" alt="all brady">
			.col-lg-4
				h2= 'Deflatgate daytime tweets'
				p
					All the daytime data for deflatgate
				<img src="images/bradyDay.png" class="img-responsive img-rounded" alt="day brady">
			.col-lg-4
				h2= 'Deflatgate nighttime tweets'
				p
					All the daytime data for deflatgate
				<img src="images/bradyDay.png" class="img-responsive img-rounded" alt="night brady">
		
			
